:root {
  --color-brand-normal: #819b57;
  --color-brand-light: rgba(207, 207, 188, 1);
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #A18268;
}